<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
    <title>Authentication Menu</title>
</head>
<body>
    <p>Authentication menu</p>
    <button><a href="login/">Se connecter</a></button>
    <button><a href="register/">Créer un compte</a></button>
</body>
</html>