{% extends "layouts.html" %}

{% block content %}
    <button class="btn btn-primary my-2"><a class="text-white" href="/schools/add">Créer une école</a></button>

    {% if schools %}
        {% for school in schools %}
            <a class="card" href="/schools/edit/{{ school.id }}">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="me-5">
                            <h1 class="text-primary">{{ school.name }}</h1>
                            <h6 class="text-secondary fs-italic">{{ school.address }}</h6>
                            <p>{{ school.description }}</p>
                        </div>
                        {% comment %} <div class="d-flex nowrap gap-2">
                            <button class="btn btn-primary">Réserver</button>
                            <button class="btn btn-secondary">Détails</button>
                        </div> {% endcomment %}
                    </div>
                </div>
            </a>
            <br>
            <a href="/schools/delete/{{ school.id }}">
                Supprimer
            </a>
        {% endfor %}
    {% else %}
        <p>Aucune école n'est disponible.</p>
    {% endif %}
{% endblock %}