{% extends "layouts.html" %}

{% block content %}
    <a href="/schools/add">Add</a>
    {% if schools %}
        <ul>
            {% for school in schools %}
                <li>
                    <a href="/schools/edit/{{ school.id }}">
                        {{ school.name }} & {{ school.address }} & {{ school.description }}
                    </a>
                    <a href="/schools/delete/{{ school.id }}">
                        delete
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No schools are available.</p>
    {% endif %}
{% endblock %}