<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/schools/add">Add</a>
{% if schools %}
    <ul>
        {% for school in schools %}
            <li>
                <a href="/schools/edit/{{ school.id }}">
                    {{ school.name }} & {{ school.address }} & {{ school.description }}
                </a>
                <a href="/schools/delete/{{ school.id }}">
                    delete
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No schools are available.</p>
{% endif %}
</body>
</html>